<header class="header">
  <div class="container header-container">
    <!-- логотип -->
    <p class="header-logo">
      <a href="./index.html">Lloyd<span>Jefferson.</span></a>
    </p>

    <!-- темная/светлая тема -->
    <input type="checkbox" class="theme-checkbox" id="change-theme" />
    <label for="change-theme" class="visually-hidden">Change theme</label>

    <nav class="page-navigation">
      <ul class="menu-navigation">
        <li class="menu-item">
          <a class="menu-link" href="#">About me</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">Projects</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">Contacts</a>
        </li>
        <li class="btn"><a href="#">ORDER THE PROJECT</a></li>
      </ul>
    </nav>
    <button class="mobile-menu-open-btn" type="button"></button>
          <svg class="mobile-menu-open-btn-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
  </div>
</header>
<!-- /*======MOBILE MENU======*/ -->
<!-- <div class="mobile-menu-wrapper">
      <div class="container mobile-menu-container">
        <button class="mobile-menu-close-btn" type="button">
          <svg class="mobile-menu-close-btn-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="menu-navigation-mobile">
          <ul class="mobile-menu">
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#"
                >About me</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#">Projects</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#">Contacts</a>
            </li>
          </ul>
        </nav>
     </div>
    </div>
  </body>
</html> -->