<header class="header">
  <div class="container header-container">
    <!-- логотип -->
    <p class="header-logo">
      <a href="./index.html">Lloyd<span>Jefferson.</span></a>
    </p>

    <!-- темная/светлая тема -->
    <input type="checkbox" class="theme-checkbox" id="change-theme" />
    <label for="change-theme" class="visually-hidden">Change theme</label>

    <nav class="page-navigation">
      <ul class="menu-navigation">
        <li class="menu-item">
          <a class="link-hover" href="#about-me">About me</a>
        </li>
        <li class="menu-item">
          <a class="link-hover" href="#my-projects">Projects</a>
        </li>
        <li class="menu-item">
          <a class="link-hover" href="#contacts">Contacts</a>
        </li>
        <li class="btn"><a href="#">ORDER THE PROJECT</a></li>
      </ul>
    
    <button class="open-menu-btn" type="button" href="#contacts">
      <span class="visually-hidden">Open menu</span>
      <svg class="icon-open-menu" width="32" height="32">
        <use href="../img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    </nav>
  </div>
  <div class="mob-menu-container">
    <nav class="mob-menu-navigation">
      <a class="header-logo" href="./">Lloyd<span>Jefferson.</span></a>
      <button type="button" class="close-menu-btn">
        <span class="visually-hidden">Close menu</span>
        <svg width="32" height="32" class="icon-close-btn">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a href="#about" class="link-hover">About me</a>
      </li>
      <li class="mob-menu-item">
        <a href="#my-projects" class="link-hover">Projects</a>
      </li>
      <li class="mob-menu-item">
        <a href="#contacts" class="link-hover">Contacts</a>
      </li>
    </ul>
  </div>
</header>

