    <section class="hero" id="hero">
    <div>
        <div class="container hero-container">
            <div class="hero-section-left">
                <h1 class="section-title">
                    Hello, I am <span class="hero-accent-text">Fullstack developer</span>
                </h1>
                <!-- <a href="#work-together-id" class="hero-btn">Order the project</a> -->
                <div class="hero-btn">
                    <span class="arrow-text">
                        <span class="arrow"><svg class="=icon"><use href="../img/sprite.svg#icon-arrow-right-hero"></use>
                        </svg>
                    </span> ORDER THE PROJECT
                    </span>
                    <span class="background"></span>
                </div>
                <div class="hero-decor decor-bottom-left"></div>
            </div>
            <div class="hero-section-right">
                <div class="hero-decor decor-top-right"></div>
<!-- <picture>
    <source srcset="../img/hero/hero-img-dp-1x.jpg 1x, ../img/hero/hero-img-dp-2x.jpg 2x" media="(min-width: px)" />
    <img src="../img/hero/hero-img-dp-1x.jpg" alt="My photo" class="hero-img" width="592" height="444" />
</picture> -->
            </div>
            <p class="hero-text">
                I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE <span class="hero-accent-text">IMPRESSIVE</span> AND <span
                    class="hero-accent-text">FUNCTIONAL WEBSITES</span> THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
                    </p>       
        </div>
         <ul class="hero-social-list">
            <li class="hero-sosial-item">
                <a class="hero-social-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
            </li>
            <li class="hero-sosial-item">
                <a class="hero-social-link" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
            </li>
            <li class="hero-sosial-item">
                <a class="hero-social-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it"
                    target="_blank">Linkedin</a>
            </li>
            <li class="hero-sosial-item">
                <a class="hero-social-link" href="https://github.com/daniilbelik94/team-project-blendet_09"
                    target="_blank">GitHub</a>
            </li>
        </ul>

    </div>
</section>