<section class="section hero-section" id="hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-first-part">
                <h1 class="hero-title">
                    Hello, I am <img class="hero-title-img" src="./img/hero/img.png" width="108" height="108"
                         alt="Lloyd-Jefferson">
                            <span class="hero-title-part text-split letters-fade-in-random">Fullstack developer</span>
                        </h1>

                <div class="hero-second-part">
                    <a class="hero-link" href="#contacts">
                        <svg class="social-icons" width="30" height="16">
                            <use href="/img/sprite.svg#icon-arrow-right-hero"></use>
                        </svg> 
                        <p class="hero-link-text">Order the project</p>
                    </a>
                    <p class="hero-text">
                        I work with people all over the world to create
                        <span class="hero-text-part">impressive</span> and
                        <span class="hero-text-part">functional websites</span> that reflect
                        each client's unique personality.
                    </p>

                 </div>
             </div>
        </div>

         <ul class="hero-social-list">
            <li class="hero-social-item">
               <a class="hero-social-link link-hover footer-social-link" href="https://www.instagram.com/goitclub/"
                  target="_blank">Instagram</a>
            </li>
            <li class="hero-social-item">
               <a class="hero-social-link link-hover footer-social-link" href="https://www.facebook.com/goITclub/"
                  target="_blank">Facebook</a>
            </li>
            <li class="hero-social-item">
               <a class="hero-social-link link-hover footer-social-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                  target="_blank">Linkedin</a>
            </li>
            <li class="hero-social-item">
               <a class="hero-social-link link-hover footer-social-link" href="https://github.com/daniilbelik94/team-project-blendet_09"
                target="_blank">GitHub</a>
        </li>
        </ul>            
    </div>
</section>