<section class="my-projects">
  <div class="container container-project">
    <h2 class="project-title">
      my <span class="project-title project-title-inner">projects</span>
    </h2>
    <ul class="project-list">
      <li class="project-item">
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/power.webp    1x,
                ../img/projects/webp/power-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/power-min.jpg"
              alt="power pulse webservice "
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">power pulse webservice</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item">
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/mimino.webp    1x,
                ../img/projects/webp/mimino-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/mimino-min.jpg"
              alt="mimino website"
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">mimino website</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item">
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/vyshyvanka.webp    1x,
                ../img/projects/webp/vyshyvanka-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/vyshyvanka-min.jpg"
              alt="vyshyvanka vibes Landing Page"
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">vyshyvanka vibes Landing Page</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item" hidden>
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/green.webp    1x,
                ../img/projects/webp/green-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/green-min.jpg"
              alt="green harvest online store"
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">green harvest online store</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item" hidden>
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/wallet.webp    1x,
                ../img/projects/webp/wallet-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/wallet-min.jpg"
              alt="Wallet webservice"
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">Wallet webservice</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item" hidden>
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/chego.webp    1x,
                ../img/projects/webp/chego-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/chego-min.jpg"
              alt="chego jewelry website"
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">chego jewelry website</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item" hidden>
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/energy.webp    1x,
                ../img/projects/webp/energy-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/energy-min.jpg"
              alt="energy flow webservice"
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">energy flow webservice</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item" hidden>
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/fruitbox.webp    1x,
                ../img/projects/webp/fruitbox-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/fruitbox-min.jpg"
              alt="fruitbox online store"
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">fruitbox online store</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item" hidden>
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/english.webp    1x,
                ../img/projects/webp/english-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/english-min.jpg"
              alt="English excellence webservice"
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">English excellence webservice</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item" hidden>
        <div class="project-picture-cont">
          <picture class="project-picture">
            <source
              srcset="
                ../img/projects/webp/starlight.webp    1x,
                ../img/projects/webp/starlight-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/projects/jpg/starlight-min.jpg"
              alt="starlight studio landing page"
              width="1008px"
            />
          </picture>
        </div>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="project-name-cont">
          <h3 class="project-name">starlight studio landing page</h3>
          <a class="project-link" href=""
            >VISIT
            <svg class="svg-icons" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
    </ul>
    <button class="load-more" type="button">
      <span class="load-more-span">LOAD MORE</span>
    </button>
  </div>
</section>
