<section class="marquee-section">
  <h2 class="visually-hidden">Tech skills</h2>

  <div class="tape-container horizontal-container">
    <div class="tape horizontal">
      <ul class="horizontal-list">
        <li>HTML/CSS</li>
        <li>JAVASCRIPT</li>
        <li>REACT</li>
        <li>NODE.JS</li>
        <li>REACT NATIVE</li>
        <li>TYPESCRIPT</li>
      </ul>
    </div>
  </div>

  <div class="tape-container diagonal-container">
    <div class="tape diagonal">
      <ul class="diagonal-list">
        <li>JAVASCRIPT</li>
        <li>REACT</li>
        <li>NODE.JS</li>
        <li>REACT NATIVE</li>
        <li>TYPESCRIPT</li>
      </ul>
    </div>
  </div>
</section>
