<section id="tech-skills" class="marquee-section section">
  <div class="tech-skills-container">
    <h2 class="visually-hidden">Tech skills</h2>

    <div class="tape-container horizontal-container">
      <div class="tape horizontal">
        <ul class="horizontal-list">
          <li>JAVASCRIPT</li>
          <li>REACT</li>
          <li>NODE.JS</li>
          <li>REACT NATIVE</li>
          <li>TYPESCRIPT</li>
          <li>SCRUM</li>
          <li>ANGULAR</li>
          <li>Vue.js</li>
          <li>Next.js</li>
        </ul>
      </div>
    </div>

    <div class="tape-container diagonal-container">
      <div class="tape diagonal">
        <ul class="diagonal-list">
          <li  class="type-two">JAVASCRIPT</li>
          <li class="type-two">REACT</li>
          <li class="type-two">NODE.JS</li>
          <li class="type-two">REACT NATIVE</li>
          <li class="type-two">TYPESCRIPT</li>
          <li class="type-two">SCRUM</li>
          <li class="type-two">ANGULAR</li>
          <li class="type-two">Vue.js</li>
          <li class="type-two">Next.js</li>
          
        </ul>
      </div>
    </div>
    
  </div>
</section>
