

.reviews-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  text-align: center;
  margin-bottom: 40px;
}

.reviews-swiper-slide {
  padding: 32px;
  text-align: left;
  background-color: var(--third-bcg);
  border-radius: 16px;
}

.reviews-text {
  
  margin-bottom: 24px;
  height: 168px;
  overflow: auto;
}
.reviews-swiper-slide {
  padding: 32px;
  border-radius: 16px;
  background: var(--light-grey);
}
.reviews-text::-webkit-scrollbar {
  display: block;
  width: 4px;
  border-radius: 4px;
}

.reviews-text::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.reviews-text::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.reviews-text::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.reviews-img {
  border-radius: 24px;
  width: 40px;
  height: 40px;
}

.reviews-swiper-wrapper {
  margin-bottom: 24px;
}

.reviews-swiper-btn-container {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.reviews-prev-btn,
.reviews-next-btn {
  border: 1px solid var(--reviews-slider-btn-border);
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}



.reviews-button-icon {
  fill: transparent;
  flex-shrink: 0;
  stroke: var(--text);
  transition: stroke 0.3s ease;

}
.reviews-button-icon-left {
  transform: rotate(180deg);
}


.reviews-info-author {
  display: flex;
  gap: 16px;
}

.reviews-item-subtitle {
  font-weight: 600;
}



@media screen and (min-width: 768px) {

  .reviews-title {
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14;
    margin-bottom: 60px;
  }

  .reviews-text {
    height: 120px;
    margin-bottom: 24px;
  }
}

.error {
  text-align: center;
  color: var(--main-cl);
}

@media screen and (min-width: 768px) {

  .reviews-title {
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
    
  .swiper-button-next:focus,
  .swiper-button-prev:focus,
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: var(--light-grey);
  }
}